html{

    a{
        transition: all .1s;
    }

}
html {
  span, a{
    transition: all .1s;
  }
}

.link {
    a {
        padding: 8px 0;
    }
    a::after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 4px;
        background: $linkColor;
        content: '';
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
        transform: translateY(10px);
    }
    a:hover::after,
    a:focus::after {
        opacity: 1;
        transform: translateY(0px);
    }
}

.visible {
	opacity:1;
}
