$antricite:#393939;
$transparent:rgba(255, 255, 255, 0);
$linkColor:rgba(200, 200, 200, 1);
$color-lifestyle: rgba(0, 153, 51,1);

/*Website Colors*/

$white: #fff;
$lightGrey: #F8F5F5;
$grey: #333;
$greyO: rgba(51,51,51, .95);
$lessLighterGrey:rgba(220, 220, 220, 1);
$lighterGrey:rgba(240, 240, 240, 1);
$color1: #3399FF; //#3D6896;
$color2: red; //#3D6896;



$bronze:rgba(165,119,100,1) ;
$silver: rgba(192,192,192,1);
$gold: rgba(201,174,93,1);

// Small screens
@media only screen {
    .top-bar {
      a{
        color:$white;
      }
        .name {
            a {
                color: $white;
            }
        }
    }
    .menuItem {
        color: $white;
        .link{
          color:$white;
        }

    }
    .active{

    }
    .top-bar-section {
        a {
            color: $white;
        }
    }
    .atention {
        color: $white;
    }
    .readMore {
        color: $grey;
    }
    .section:nth-child(even){
      background-color: $lighterGrey;

    }
    .section:nth-child(odd){
      background-color: $lessLighterGrey;
    }
    //Opacity Styling etc
    p {
        color: $grey;
    }
    a {
        color: $grey;
    }
    a:visited {
        color: $grey;
    }
    .white{
      color:white;
    }
    .green{
      color: $color-lifestyle;
    }
    .title{
      color:$grey;
    }
    .link-separator{
      color: $lighterGrey;
      font-weight: bold;
    }
    .top-bar .toggle-topbar.menu-icon a::after:hover {
        //Three bars
        -webkit-box-shadow: 0 10px 0 1px $linkColor, 0 16px 0 1px $linkColor, 0 22px 0 1px $linkColor;
        box-shadow: 0 10px 0 1px $linkColor, 0 16px 0 1px $linkColor, 0 22px 0 1px $linkColor
    }
    .parallax-child-first {
        h2,
        h3, h4, h5 {
            color: $grey;
        }
    }
    footer {
      a:visited{
        color:$grey;
      }
        .social-icon {
            color: $grey;
            margin: auto 1em;
        }
    }
}


/* Define mobile styles */

@media only screen and (max-width: 40em) {}


/* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
    a {
        color: $white;
    }
    a:hover {
        color: $color-lifestyle !important;
    }
    .toTop {
        background-color: $grey;
        span {
            color: white;
        }
    }
    footer {
        .social-icon {
            color: $white;
        }
        .social-icon:hover{
            color:$color-lifestyle !important;
        }
    }
}


/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {}


/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {

  footer {
    text-align:left;
    a:visited{
      color:$white;
    }
      .social-icon {
          color: $white;
      }


  }


}


/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}


/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) {}


/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}


/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) {}


/* min-width 1921px, xxlarge screens */
