.gfx {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.gfx:before,
.gfx:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.gfx:after {
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg);
}
.cardPicContainer {
  margin: 1em 0;
  transform: rotate(-45deg);
  background-color: $grey;
}
.cardPic {
  float: left;
}
.cardPic {
  max-height: 150px;
  padding: 1em;
}
.section-second__image {
  height: 12em;
  text-align: center;
  @include centerH;
}

@media only screen and (min-width: 40.063em) {
  .section-third{
    background-image: url(../img/elements/stones.png);
    background-size: 400px auto;
    background-repeat: no-repeat;
    background-position:-80px bottom;
  }
}
@media only screen and (min-width: 64.063em) {
  .section-third{
    background-size: 400px auto;
    background-position:10% bottom;
  }
}
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {}
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
// XLarge screens
@media only screen and (min-width: 90.063em) {


}
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {




}
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
// XXLarge screens
@media only screen and (min-width: 120.063em) {}
/* min-width 1921px, xxlarge screens */
