@mixin centerElement {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin centerH {
    text-align: center;
    display: block;
    margin: 0 auto;
}
/*@mixin centerV {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}*/

@mixin transition1 {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

@mixin transition2 {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

@mixin marginTop {
    margin-top: 1rem;
}

@mixin topBorder {
    border-top: 1px solid $lighterGrey;
}

@mixin picture {
    max-height: 25rem;
}

@mixin border {
    border: 5px solid $lightGrey;
}

@mixin padding {
    padding: .4em 1em;
}

@mixin margin {
    margin: .4em 1em;
}

@mixin transparency {
    background: $greyO;
}

.centerImg {
    @include centerH;
}
.center{
  text-align: center;
}

@mixin radial{

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aaaaaa+0,e5e5e5+100 */
background: #aaaaaa; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #aaaaaa 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#aaaaaa), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #aaaaaa 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #aaaaaa 0%,#e5e5e5 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #aaaaaa 0%,#e5e5e5 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #aaaaaa 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/*.centerV {
    @include centerV;
}*/

.centerH {
    @include centerH;
}

.center-text {
    text-align: center;
}

.padding {
    @include padding;
}

//NEW
$borderType: solid;
$borderColor: $white;
$borderSize: .7em;
@mixin pageBorder {
    border-left: $borderSize $borderType $white;
    border-right: $borderSize $borderType $white;
    border-bottom: $borderSize $borderType $white;
}

@mixin imageBorder {
    border-left: $borderSize $borderType $white;
    border-right: $borderSize $borderType $white;
    border-top: $borderSize $borderType $white;
    border-bottom: $borderSize $borderType $white;
}

@mixin fullPageBg {
    background-repeat: no-repeat;
    background-position: center center;
    background-position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin elementShadow{
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);

}

//Rotates

@mixin rotate45{
    transform: rotate(45deg);
}
@mixin rotateMin45{
    transform: rotate(-45deg);
}
@mixin rotate90{
    transform: rotate(45deg);
}
@mixin rotateMin90{
    transform: rotate(-45deg);
}


// Small screens
@media only screen {}


/* Define mobile styles */

@media only screen and (max-width: 40em) {

  .noPadding {
      padding: 0px;
      padding-left: 0px !important;
      padding-right: 0px !important;
      padding-top: 0px;
      padding-bottom: 0px;
  }

}


/* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {}


/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {}


/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
    .middle {
    }
}


/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}


/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) {}


/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}


/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) {}


/* min-width 1921px, xxlarge screens */
