//LOGO MOET TRANSPARANT! BELANGRIJK
html {
    @media only screen {
        .parallax-parent-first {
          background-image: url(../img/bg/6.jpg);
            h2 {
            }
            @include fullPageBg;
            .logoContainer {
                h2 {
                    overflow: hidden;
                }
            }
        }
        .parallax-parent-first, #plax2, #plax3, #plax4, #plax5, #plax6{
            background-size: cover;

        }
        .parallax-child-first {
            left: 0;
            right: 0;
            top: 45%;
        }
        #plax2 {
            background-image: url(../img/bg/6.jpg);
        }
        .s1 {
            .facePic {
                width: 16em;
            }
        }
        #plax3 {
            background-image: url(../img/bg/3.jpg);
            background-position: 0 4em;
        }
        #plax4 {
            background-image: url(../img/bg/1.jpg);
            background-position: 0 -8em;
        }
        #plax5 {
            background-image: url(../img/bg/bob.jpg);
        }
        #plax6 {
            background-image: url(../img/bg/3.jpg);
        }
    }
    /* Define mobile styles */
    @media only screen and (max-width: 40em) {}
    /* max-width 640px, mobile-only styles, use when QAing mobile issues */
    // Medium screens
    @media only screen and (min-width: 40.063em) {
        .parallax-parent {
            height: 30vh;
            overflow: hidden;
        }
        .parallax-parent > * {
            height: 200%;
            position: relative;
            top: -100%;
        }
        .parallax-child-first {
            top: 0%;
        }
        footer {
            h1,
            h2,
            h3,
            h4,
            p,
            ul li,
            a {
                color: #fff;
            }
            ul li {
                margin-left: -1em;
                list-style: none;
            }
            background-color: $antricite;
            .logo {
                max-height: 8em;
                max-width: 8em;
                @include centerH;
            }
            .contact {}
        }
    }
    /* min-width 641px, medium screens */
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {}
    /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
    // Large screens
    @media only screen and (min-width: 64.063em) {
      .parallax-parent-first{
        height:70vh;
      }
      .parallax-child-first {
          top: -60%;
      }

    }
    /* min-width 1025px, large screens */
    @media only screen and (min-width: 64.063em) and (max-width: 90em) {}
    /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
    // XLarge screens
    @media only screen and (min-width: 90.063em) {


    }
    /* min-width 1441px, xlarge screens */
    @media only screen and (min-width: 90.063em) and (max-width: 120em) {




    }
    /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
    // XXLarge screens
    @media only screen and (min-width: 120.063em) {}
    /* min-width 1921px, xxlarge screens */
}
