.clip {
  animation: slide 8s infinite;
}

@keyframes slide {
  from {
    transform: translateY(-135px);
  }
  50% {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(-135px);
  }
}
#loader-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: $greyO; 
    z-index: 5000;
    display:flex;
    justify-content: center;
    overflow:hidden;
    align-items:center;

    svg{
      width:16em;
       display: flex;

    }
}
