html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  body {
    height: 100%;
  }

  // Small screens
  @media only screen {
    .devider {
        background-image:url(../img/elements/pattern2.png);
    }
    .to-top {
      span {
        padding: 0.5em;
      }
    }
    .top-bar {
      @include elementShadow;
    }
    .to-top {
      display: none;
      background-color:rgba(0,0,0,.5);
    }

    .front-show {
      position: relative;
      max-width:36em;
      border: 5px solid white;
      display: block;
      margin: 0 auto;
      margin: 2em auto 1em;
      padding:2em;

      .front-show__inner{
        position: absolute;
        top:0;
        left:0;
        color:white;
        overflow: hidden;
        background-color:rgba(255,255,255,.9);
        height:100%;
        width:100%;
        z-index: 1;
      }
      .front-show__big-title,
      .front-show__small-title{
        position: relative;
        z-index: 2;
      }
      hr{
        position: relative;
        z-index:2;
        width:30%;
        display: block;
        margin:1em auto;
        color:white;
        border-bottom:1px solid white;
      }
    }
    .image-container {
      span {
        position: relative;
        top: 1em;
        padding-bottom: 1em;
      }
    }
    .slider2 {
      position: relative;
      bottom: 0;
    }
    section {
      @include elementShadow;


    }
    .section-first, .section-second, .section-third, .section-fourth, .section-fifth{
      padding:80px 0;
    }
    #section2,
    #section3 {
      .icon {
        @include centerH;
        display:none;
      }
    }
    #section4 {
      .icon {
        font-size: 3em;
        @include centerH;
      }
    }
    #section5 {
      .panel{
        padding:1em 2em;
      }
    }

    footer {
      padding:1em 0 0;
      .footer-links--info{
        li{
          display:block;
          margin:auto .5em;
        }
      }
      .footer-links--mini-menu{
        li{
          margin:auto 4px;
        }
      }

    }
  }
  /* Define mobile styles */
  @media only screen and (max-width: 40em) {

  }
  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  // Medium screens
  @media only screen and (min-width: 40.063em) {
    .parallax-child__first {
      .logo {
        opacity: 0.6;
        transform: scale(.1);
        width: 30em;
      }

      .front {

      }
    }
    #section2, #section3{
      .icon{
        padding:.3em 0;
        display: block;
        font-size:10em;
      }
    }
    .third {
    }
    footer {
      h1,
      h2,
      h3,
      h4,
      p,
      ul li,
      a {
        color: #fff;
      }
      ul li {
        margin-left: 0 .2em;
        list-style: none;
      }
      .logo {
      }
      .contact {


      }
      .footer-links{
        text-align:left;
      }
    }
    .to-top {
      display: block;
      position: fixed;
      bottom: 1em;
      right: 1em;
      @include rotate45;
      z-index: 50000;
      border:2px solid rgba(255,255,255,0);
      span {
        display: block;
        top: 0;
        @include rotateMin45;
      }
    }
    .to-top:hover {
      background:rgba(255,255,255,0);
      border:2px solid $antricite;
    }
    .to-top a:active{
      color:white;
    }
    .to-top:active{
      color:white;
      background-color:rgba(0,0,0,.5);
      span{
        color:white;
      }

    }
    .atention {
      span {
        position: relative;
        //bottom: -50px;
      }
    }
    footer {
      .footer-links{
        display:inline;
        margin:0 auto;
      }

        li {
          display:inline;
          margin:0 auto;

        }
        .social-icons {
          margin:1em auto 0;
        }
        .social-icon {
          font-size: 2em;
        }

      }

  }
  /* min-width 641px, medium screens */
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {

  }
  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
  // Large screens
  @media only screen and (min-width: 64.063em) {
    .front-show {
      max-width:60em ;
    }
    footer {
      .footer-links{
        li{
        display:block;
      }
      }
    }

  }
  /* min-width 1025px, large screens */
  @media only screen and (min-width: 64.063em) and (max-width: 90em) {

  }
  /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
  // XLarge screens
  @media only screen and (min-width: 90.063em) {

  }
  /* min-width 1441px, xlarge screens */
  @media only screen and (min-width: 90.063em) and (max-width: 120em) {

  }
  /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
  // XXLarge screens
  @media only screen and (min-width: 120.063em) {

  }
  /* min-width 1921px, xxlarge screens */
}
