html {
    $fontFamily: 'Source Sans Pro', sans-serif;
    @mixin font1 {
        font-family: 'Martel Sans', sans-serif;
    }
    @mixin font2 {
        font-family: 'Open Sans', sans-serif;
    }
    @mixin font3 {
         font-family: 'Indie Flower', cursive;
    }

    .bold{
        font-weight: bold;
    }
    .extra-bold{
        font-weight: bolder;
    }
    // Small screens
    @media only screen {
        font-size: 16px;
        h1,
        h2,
        h3,
        h4,
        h5,
        p,
        ul,
        ol,
        li,
        a {
            font-family: $fontFamily;
        }
        ul li {}
        h1 {
            font-size: 1.55em;
            margin: 0.6em 0;
        }
        h2 {
            font-size: 1.5em;
            margin: 0.3em 0;
        }
        h3 {
            font-size: 1.4em;
            margin: 0.4em 0;
        }
        h4 {
            font-size: 1em;
            margin: 0.5em 0;
        }
        h5 {
            font-size: 0.75em;
            margin: 0.6em 0;
        }
        h6 {
            font-size: 0.5em;
            margin: 1.75em 0;
        }
        p {
            font-size: 1.2em;
        }
        .small{
            font-size:.8em;
        }
        .atention {
            font-size: .9em;
            text-align: center;
            padding: .4em;
        }
        .title{
            text-align:center;
        }
        .text{
        }
        .readMore{
            padding:1em 0 1em 0em;
        }

        a:hover{
            color:$color-lifestyle;
        }
        a:active, a:focus{
          color:white;
        }
        .menuItem{
            a{
            font-size:1.4em;
            }
        }
        .top-bar-section{
          ul{
            li{
              margin:1em auto;
              a{
                font-size: 1.3em;
                text-align: center;
              }
            }
          }
        }

        .quotes{
            position: relative;
            top:-7px;

            font-size:.5em
        }
            .icon-quotes-left{
                right: 0px;
            }
            .icon-quotes-right{

                left: 0px;
            }
        .front-show{
            h2{
                text-align:center;
                font-size:2em;
                text-decoration: none;
                margin:0em auto;

            }
            h3{
                text-align:center;
                font-size:1.2em;
                @include font3;
                margin:0em auto;
            }

            }


            #section5{
              h3{
                text-align:center;
              }
            }
            footer{
              .social-icon{
                  display: block;
                  margin: 0 auto;
                  text-align: center;
              }
              .footer-links{
                text-align:center;
              }
            }


    }
    /* min-width 641px, medium screens */
    @media only screen and (min-width: 40.063em) {
        h1 {
            font-size: 120%;
            margin: 1em 0;
        }
        h2 {
            font-size: 130%;
            margin: 1.2em 0;
        }
        h3 {
            font-size: 120%;
            margin: 1.4em 0;
        }
        h4 {
            font-size: 100%;
            margin: 1.33em 0;
        }
        h5 {
            font-size: 50%;
            margin: 1.67em 0;
        }
        h6 {
            font-size: 25%;
            margin: 2.33em 0;
        }
        p {
            font-size: 1.2em;
        }
        .atention {
            font-size: 1.2em;
        }
        .menuItem{
         a{
             font-size:.9em !important;
         }
        }

        .top-bar-section{
          ul{
            li{
              margin:0 auto;
              a{
                font-size: 1em;
                text-align: center;
              }
            }
          }
        }
        .front-show{
            .front-show__big-title{
                text-align:center;
                font-size:2em;
                text-decoration: none;
                margin:0em auto;

            }
            .front-show__small-title{
                text-align:center;
                font-size:1.5em;
                @include font3;
                margin:0em auto;
            }

            }
    }
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {}
    /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
    /* min-width 1025px, large screens */
    @media only screen and (min-width: 64.063em) {
        h1 {
            font-size: 2.6em;
            margin: 0.67em 0;
        }
        h2 {
            font-size: 2.5em;
            margin: 0.83em 0;
        }
        h3 {
            font-size: 1.5em;
            margin: 1em 0;
        }
        h4 {
            font-size: 1em;
            margin: 1.33em 0;
        }
        h5 {
            font-size: 0.83em;
            margin: 1.67em 0;
        }
        h6 {
            font-size: 0.75em;
            margin: 2.33em 0;
        }
        p {
            font-size: 1.4em;
        }
        .atention {
            font-size: 1.8em;
        }
        .menuItem{
         a{
             font-size:1.1em !important;
         }
        }
        /*.firstText{
         opacity:0;
        }
        .title{
            text-align:center;
            opacity:0;
        }
        .text{
            opacity: 0;
        }*/
        .front-show{
            .front-show__big-title{
                font-size:4.5em;

            }
            .front-show__small-title{
                font-size:2.5em;
            }

            }
    }
    // min-width 1441px, huge screens
    @media only screen and (min-width: 90em) {
        h1 {
            margin: 0.67em 0;
        }
        h2 {
            font-size: 3em;
            margin: 0.83em 0;
        }
        h3 {
            font-size: 2em;
            margin: 1em 0;
        }
        h4 {
            font-size: 1em;
            margin: 1.33em 0;
        }
        h5 {
            font-size: 0.9em;
            margin: 1.67em 0;
        }
        h6 {
            font-size: 0.75em;
            margin: 2.33em 0;
        }
        p {
            font-size: 1.5em;
        }
        .atention {
            padding: .4rem;
            font-size: 2em;
            line-height: 1.1;
        }
        .menuItem{
         a{
             font-size:1.4em !important;
         }
        }
    }
    /* min-width 1441px, xlarge screens */
    // XXLarge screens
    @media only screen and (min-width: 120.063em) {
        h1 {
            font-size: 4em;
            margin: 0.67em 0;
        }
        h2 {
            font-size: 3em;
            margin: 0.83em 0;
        }
        h3 {
            font-size: 2.5em;
            margin: 1em 0;
        }
        h4 {
            font-size: 2em;
            margin: 1.33em 0;
        }
        h5 {
            font-size: 1em;
            margin: 1.67em 0;
        }
        h6 {
            font-size: 0.75em;
            margin: 2.33em 0;
        }
        .atention {
            font-size: 3em;
        }
    }
}
